/* @tailwind base; */
@tailwind components;
@tailwind utilities;
@layer tailwind {
  @tailwind base;
}

/* @import "@mantine/core/styles.layer.css"; */
@import "@mantine/core/styles.css";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Noto Serif TC', Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}
